<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xmlns:int-event="http://www.springframework.org/schema/integration/event"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.3.xsd
		http://www.springframework.org/schema/integration/ip http://www.springframework.org/schema/integration/ip/spring-integration-ip-4.3.xsd
		http://www.springframework.org/schema/integration/event http://www.springframework.org/schema/integration/event/spring-integration-event.xsd">

    
	<int:gateway id="gw"
		service-interface="com.app.hos.service.integration.server.Gateway"
		default-request-channel="input"/>

	<int:channel id="input" />

	<int-ip:tcp-outbound-channel-adapter id="outboundChannel"
    	channel="transformChannel"
    	connection-factory="hosServer" />
	
	<int-ip:tcp-inbound-channel-adapter id="inboundChannel"
		channel="toServerChannel"
        connection-factory="hosServer"
        />
	
	<int:channel id="transformChannel" />
	
	<int:channel id="reply" datatype="java.lang.String" />
	
	<!-- CONVERTERS && MAPPERS -->

	<int:channel id="inputChannel" />
	
	<bean id="connectionSerializeDeserialize" class="com.app.hos.service.integration.converters.ByteArrayToCommandConverter"/>
	
	<bean id="ipMappper" class="com.app.hos.service.integration.converters.IpTcpMessageMapper" />

	<!-- SERVER SIDE -->

    <int-ip:tcp-connection-factory id="hosServer"
	    type="server"
	    port="14020"
		mapper="ipMappper"
		serializer="connectionSerializeDeserialize"
		deserializer="connectionSerializeDeserialize"
	    using-nio="true"/>

    
	<int:channel id="toServerChannel"/>

	<int:channel id="errorChannel"/>
	
	<int:service-activator input-channel="toServerChannel"
		ref="server"
		method="receiveCommand"/>
	
    <bean id="server"
		class="com.app.hos.service.integration.server.Server" />
		
                 
	<!-- TCP EVENTS -->
	<!-- 
	<int:service-activator input-channel="closeConnectionChannel"
		ref="closeTcpConnection"
		method="closeConnection"/>
		
	<bean id="closeTcpConnection"
		class="com.app.hos.service.integration.CloseTcpConnectionEvent" />
		
	<int:channel id="closeConnectionChannel"/>
	
	<int-event:inbound-channel-adapter channel="closeConnectionChannel"
					event-types="org.springframework.integration.ip.tcp.connection.TcpConnectionCloseEvent"/>
	-->
	
</beans>
    