<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xmlns:int-event="http://www.springframework.org/schema/integration/event"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.3.xsd
		http://www.springframework.org/schema/integration/ip http://www.springframework.org/schema/integration/ip/spring-integration-ip-4.3.xsd
		http://www.springframework.org/schema/integration/event http://www.springframework.org/schema/integration/event/spring-integration-event.xsd">


    <!-- CLIENT SIDE -->
    
	<int:gateway id="gw"
		service-interface="com.app.hos.service.client.Gateway"
		default-request-channel="input"/>

	<int-ip:tcp-connection-factory id="client"
		type="client"
		host="localhost"
		port="14020"
		single-use="false"
		so-timeout="10000"
		/>

	<int:channel id="input" />

			
	<!-- change gateway -->
	
	<int-ip:tcp-outbound-gateway id="outGateway"
		request-channel="transformChannel"
		reply-channel="reply"
		connection-factory="client"
		request-timeout="10000"
		reply-timeout="10000"
		/>
	
	    
    <int-ip:tcp-inbound-gateway id="inputHosGateway"
		connection-factory="hosServer"
		request-channel="toServerChannel"
		error-channel="errorChannel"/>


	
	<int-ip:tcp-outbound-channel-adapter id="outboundClient"
    	channel="transformChannel"
    	connection-factory="hosServer"
    	client-mode="true"/>
	
	<int-ip:tcp-inbound-gateway id="outGateway"
		request-channel="transformChannel"
        connection-factory="client"
        />
		

	<int:channel id="transformChannel" />
	
	<int:channel id="reply" datatype="java.lang.String" />
	
	<!-- TRANSFORMERS -->
    <int:transformer id="testTransformer" ref="testTransformerBean" input-channel="input"
             method="transform" output-channel="transformChannel"/>
    
	<bean id="testTransformerBean" class="com.app.hos.service.integration.Transformer" />

	<!-- SERVER SIDE -->
	
	<bean id="connectionSerializeDeserialize" class="com.app.hos.service.integration.ByteArrayToStringConverter"/>

    <int-ip:tcp-connection-factory id="hosServer"
	    type="server"
	    port="14020"
	    serializer="connectionSerializeDeserialize"
		deserializer="connectionSerializeDeserialize"
	    using-nio="true"/>


	<int:channel id="toServerChannel"/>

	<int:channel id="errorChannel"/>
	
	<int:channel id="inputChannel" />
	
	<int:service-activator input-channel="toServerChannel"
		ref="server"
		method="serverTest"/>
	
    <bean id="server"
		class="com.app.hos.service.server.Server" />
		
                 
	<!-- TCP EVENTS -->
	
	<int:service-activator input-channel="eventChannel"
		ref="event"
		method="eventTest"/>
		
	<bean id="event"
		class="com.app.hos.service.integration.Event" />
		
	<int:channel id="eventChannel"/>
	
	<int-event:inbound-channel-adapter channel="eventChannel"
					event-types="org.springframework.integration.ip.tcp.connection.TcpConnectionEvent"/>
	
	
</beans>
    