.nav-side-menu {
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #2e353d;
	position: fixed;
	top: 0px;
	width: 300px;
	height: 100%;
	color: #e1ffff;
}

.nav-side-menu .brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before
	{
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active {
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before
	{
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}

.nav-side-menu li {
	text-decoration: none;
	color: #e1ffff;
}

.nav-side-menu li i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}

.nav-side-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

@media ( max-width : 767px) {
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		background-color: #ffffff;
		color: #000;
		width: 40px;
		text-align: center;
	}
	.brand {
		text-align: left !important;
		font-size: 30px;
		padding-left: 20px;
		line-height: 50px !important;
	}
	.main-container {
		margin-left: 0px;
	}
}

@media ( min-width : 767px) {
	.main-container {
		margin-left: 300px;
	}
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: font-family : Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #efffff;
	background-color: #23282e;
	width:100%;
	height:100%;
}

/* MAIN VIEW */

.main-container {
	height:100%;
	width:calc(100% - 300px);
}

.user-bar {
	color: white;
	padding-left: 10px;
	background-color: #2e353d;
	line-height: 50px;
	display: block;
	font-size: 14px;
	position: fixed;
	left: 300px;
	right: 0;
}

#system-info {
	color: yellow;
	font-size: 20px;
	float: right;
	padding-right: 20px;
	display: none;
}

#container {
	position: fixed;
	top: 50px;
	right: 0;
	left: 300px;
	bottom: 0;
}

.view-container {
	width: 100%;
	height:100%;
	overflow: hidden;
}

/* CONNECTED DEVICES */
.device-panel {
	margin: 10px 10px 10px 200px;
	height: 100%;
	background-color: #23282e;
	overflow:hidden;
}

.device-container {
	width: 180px;
	position:absolute;
	padding: 10px;
	margin: 10px;
	border-right: 2px solid #2e353d;
	float: left;
	overflow-y:auto;
	top:0;
	bottom:0;
}

.no-device {
	text-align: center;
}

.device {
	width: 100%;
	height: 60px;
	margin: 5px auto;
	padding: 5px;
	background-color: #020203;
	border-radius: 10px;
	display: table;
	border: 2px solid #020203;
}

div.device:hover {
	background-color: #23282e;
	border: 2px solid #d19b3d;
	-webkit-transition: background-color 500ms linear, border 500ms linear;
	-ms-transition: background-color 500ms linear, border 500ms linear;
	transition: background-color 500ms linear, border 500ms linear;
}

.device-icon-text {
	display: table-cell;
	vertical-align: middle;
}

.device-container .activeDevice {
	background-color: #23282e;
	border: 2px solid #d19b3d;
}

.device-prop {
	background-color: #2e353d;
	border-radius: 5px;
	color: #efffff !important;
}

.device-detail {
	position: relative;
	display: inline-block;
	margin: 5px;
	height: 100%;
	width: 300px;
}

/* DEVICE TABLE INFO */
table.device-table td {
	height: 25%;
}

table.device-table td:first-child {
	width: 30%;
	padding: 10px;
}

table.device-table td:last-child {
	font-size: 18px;
	text-align: center;
	width: 70%;
}

table.device-table {
	width: 100%;
	height: 100%;
}

.usage-info {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
}