.my-progress {
  position: relative;
  top: 40px;
  width: 150px;
  margin: auto;
}

.my-progress:before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  border: 30px solid #cdcdcd;
  border-radius: 50%;
}

.bar {
  position: absolute;
  top: 0px;
}