.tooltips {
    position: relative;
    display: block;
}

.tooltips .tooltiptext {
    visibility: hidden;
    width:105%;
    background-color: #f1f1f1;
    color: #2e353d;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 15%;
    left: 140%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #f1f1f1 transparent transparent;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}