
$primaryBackgroundColor: #2e353d;
$secondBackgroundColor: #23282e;

$primaryFontColor: #efffff;
$activeFontColor: #d19b3d;

$menu: #4f5b69;
$submenuHover: #020203;
$submenu: #181c20;

html, body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: $primaryFontColor;
	background-color: $secondBackgroundColor;
	width:100%;
	height:100%;
}

.nav-side-menu {
	overflow: auto;
	/*font-family: verdana;
	font-size: 12px;*/
	font-weight: 200;
	background-color: $primaryBackgroundColor;
	position: fixed;
	top: 0px;
	width: 300px;
	height: 100%;
}

.nav-side-menu .brand {
	background-color: $secondBackgroundColor;
	line-height: 50px;
	display: block;
	text-align: center;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 45px;
	cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before
	{
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 3px solid $activeFontColor;
	background-color: $menu;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active {
	color: $activeFontColor;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: $submenu;
	border: none;
	line-height: 45px;
	border-bottom: 1px solid $secondBackgroundColor;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: $submenuHover;
}

.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before
{
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid $primaryBackgroundColor;
	border-bottom: 1px solid $secondBackgroundColor;
}

.nav-side-menu li {
	text-decoration: none;
	color: #e1ffff;
}

.nav-side-menu li i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}

.nav-side-menu li:hover {
	border-left: 3px solid $activeFontColor;
	background-color: $menu;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.nav-side-menu .menu-list ul.menu-content li i.fa  {
	margin-right: 10px;
}

@media ( max-width : 767px) {
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		background-color: #ffffff;
		color: #000;
		width: 40px;
		text-align: center;
	}
	.brand {
		text-align: left !important;
		font-size: 30px;
		padding-left: 20px;
		line-height: 50px !important;
	}
	#container {
		left: 0;
	}
	.main-container {
		width:100%;
	}
}

@media ( min-width : 767px) {
	#container {
		left: 300px;
	}
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
	.main-container {
		width:calc(100% - 300px);
	}
}

/* DROP DOWN */

.dropdown .dropbtn {
    color: $activeFontColor;
    border: none;
    cursor: pointer;
    padding: 0px 16px;
}

.dropdown .dropbtn:hover, .dropdown .dropbtn:focus {
    background-color: $menu;
    -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

div.dropdown {
    position: relative;
    display: inline-block;
    height:100%;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

/* MAIN VIEW */

.main-container {
	height:100%;
}

.user-bar {
	color: white;
	padding-left: 10px;
	background-color: $primaryBackgroundColor;
	line-height: 50px;
	display: block;
	position: fixed;
	left: 300px;
	right: 0;
}

#system-info {
	color: yellow;
	font-size: 20px;
	float: right;
	padding-right: 20px;
	display: none;
}

#user-info {
	color: $primaryFontColor;
	font-size: 20px;
	position: fixed;
	right: 0;
	padding-right: 20px;
}

#container {
	position: fixed;
	top: 50px;
	right: 0;
	bottom: 0;
}

.view-container {
	width: 100%;
	height:100%;
	overflow: hidden;
}

/* CONNECTED DEVICES */
.device-panel {
	margin: 10px 10px 10px 200px;
	height: 100%;
	background-color: $secondBackgroundColor;
	overflow:hidden;
}

.device-container {
	width: 180px;
	position:absolute;
	padding: 10px;
	margin: 10px;
	border-right: 2px solid $primaryBackgroundColor;
	float: left;
	/*overflow-y:auto;
	overflow-x: hidden;*/
	top:0;
	bottom:0;
}

.no-device {
	text-align: center;
}

.device {
	width: 100%;
	height: 60px;
	padding: 5px;
	margin: 5px auto;
	background-color: $secondBackgroundColor;
	border-radius: 5px;
	display: inline-block;
	border: 2px solid $secondBackgroundColor;
}

div.device:hover {
	background-color: $secondBackgroundColor;
	border: 2px solid $activeFontColor;
	-webkit-transition: border 500ms linear;
	-ms-transition: border 500ms linear;
	transition: border 500ms linear;
}

.device-icon-text {
    line-height: 46px;
}

.device-icon-text ~ .device-name {
    padding-left:5px;
}

.device-container .activeDevice {
	background-color: $secondBackgroundColor;
	border: 2px solid $activeFontColor;
}

.device-property {
	background-color: $primaryBackgroundColor;
	border-radius: 5px;
	/*color: $primaryFontColor !important;*/
	color: $primaryFontColor;
}

.device-block {
	position: relative;
	float: left;
	margin: 5px;
	/*height: 100%;
	width: 300px;*/
}

.detail-table {
	display: table;
	width: calc(100% - 420px); 
	min-width: 210px;
	height: 210px;
}

.detail-table .detail-table-row {
	width: 100%; 
	height: 50%;
}

.detail-table .detail-table-row .detail-table-cell {
	/*width:50%;
	height:50%;*/
	padding:5px;
}

.detail-table .detail-table-row div.device-property {
	width:100%;
	height:100%;
	position:relative;
}

.device-property .usage {
	position: absolute;
	text-align: center;
	width: 100%;
}

.device-property .usage.usage-info {
	top: 0px;
	height: 30px;
}

.device-property .usage.usage-info-value {
	top: 40px;
	width: 100%;
	font-size: 30px;
}

.usage-info,
.usage-info-value ,
.device-icon-text,
.ellipsis-no-wrap-text {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center,
.center-left ,
.center-right {
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center;
}

.center-left {
	align-items: left;
}
.center-right {
	align-items: right;
	
}