<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns="http://www.springframework.org/schema/beans"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <context:component-scan base-package="com.app.store.repository" />
    
    <tx:annotation-driven />
	
       
   <beans profile="mysql">
	   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	      <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	      <property name="url" value="jdbc:mysql://localhost:3306/webstore" />
	      <property name="username" value="root" />
	      <property name="password" value="root" />
	   </bean>
	   
	   <jdbc:initialize-database data-source="dataSource">
	       <!--  <jdbc:script location="classpath:db/mysql/initDB.sql"/> -->
	        <jdbc:script location="classpath:db/mysql/initDB.sql"/> 
	        <jdbc:script location="classpath:db/mysql/populateDB.sql"/>
	    </jdbc:initialize-database>
	    
   </beans>
   
   
   <beans profile="mssql">
	   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		    <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver"/>
		    <property name="url" value="jdbc:jtds:sqlserver://localhost:1433/webstore;instanceName=SQLEXPRESS;user=antadmin;password=antadmin;"/>
		</bean>
	   <jdbc:initialize-database data-source="dataSource">
	        <!--  <jdbc:script location="classpath:db/mssql/initDB.sql"/> -->
	        <jdbc:script location="classpath:db/mssql/populateDB.sql"/>
	    </jdbc:initialize-database>
	    
   </beans>
	
	<beans profile="mssql,mysql">
		<bean id="entityManagerFactoryBean" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	      <property name="dataSource" ref="dataSource" />
	      <!-- This makes /META-INF/persistence.xml is no longer necessary -->
	      <property name="packagesToScan" value="com.app.store.entity" />
	      <property name="jpaVendorAdapter">
	         <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
	      </property>
	      <property name="jpaProperties">
	         <props>
	   			<prop key="hibernate.show_sql">false</prop>
	   			<prop key="hibernate.format_sql">true</prop>
	            <prop key="hibernate.hbm2ddl.auto">create</prop>
	            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop> 
	         </props>
	      </property>
	   </bean>
	
	   <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	      <property name="entityManagerFactory" ref="entityManagerFactoryBean" />
	   </bean>
	</beans>

</beans>